<html>
  <head>
    <title>Ultimate Gaming Quiz</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
  </head>
  <body>
    <h1>Welcome To The Ultimate Gaming Quiz!</h1>
    <div class="user-form"> 
      <form method="post" action="#">
        <label>Please enter a username </label><br>
        <input type="text" id="name" name="name" placeholder="Enter your name here...">
        <input type="submit" value="submit">
      </form>
    </div>
  <body>
</html>
